<!doctype html>
<html lang="en">
  <head>
    <title>YouTube to Spotify</title>
    <link rel="stylesheet" type="text/css" href="https://siriiuss.github.io/css-pages/style.css">
  </head>
    <body>
      <div class="segment">
        <h1>YouTube Spotify Playlist Converter</h1>
      </div>
      <form method="post">
          <input name="yt-url" id="yt-url" type="url" required placeholder="YouTube Playlist URL"/> <br>
          <input name="playlist-name" id="playlist-name" type="text" required placeholder="New Playlist Name"/> <br>
          <button class="blue" type="submit"><i class="icon ion-md-lock"></i>Convert</button>
      </form>

  </body>
</html>
